/* all common  css style start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

ul,ol{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}
/* all common  css style end */


/* header section css style start */

#headerPart{
    padding: 30px auto ;
}

.headerBtn a{
    background: #5E3BEE;
    color: #fff;
    padding: 11px 22px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
}

.headerBtn a i{
    margin-left: 7px;
}
/* header section css style end */


/* banner section css style start */

#bannerPart{
    background: #f9f9fc;
}

.bannerText h4{
    color: #5E3BEE;
    font-weight: 500;
    line-height: 26px;
    padding-top: 119px;
}

.bannerText h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    padding: 32px 0;
}

.bannerBtn{
    padding-top: 58px;
}

.bannerBtn a{
    background: #5E3BEE;
    color: white;
    padding: 24px 38px;
    border-radius: 50px;
    transition: .5s;
}

.bannerBtn a:hover{
    background:transparent ;
    color: #000;
}

.bannerBtn .btnL{
    margin-right: 23px;
}

.bannerBtn a i{
    margin-right: 9px;
}

/* banner section css style end */


/* experiance section css style start */

.experimence{
    margin-top: 91px;
    
}

.experimence h3{
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
}

.experimence p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}


/* experiance section css style end */


/* service section css style start */

.service p .one{
    color: #5E3BEE;
}

.service footer .cards{
    margin-top: 64px;
    margin-bottom: 140px;
    width: 376px;
    height: 286px;
    text-align: center;
    padding: 51px 0;
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.service footer .cards h4{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding-top: 37px;
    padding-bottom: 12px;
}

.service footer .cards p{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    width: 300px;
    margin: 0 auto;
    line-height: 32px;
}

/* service section css style end */


/* about section css style start */

#aboutSection{
    height: 778px;
    background-image: url(/images/bgAboutSection.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 115px;
}

#aboutSection .row  .one{
    color: #5E3BEE;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

#aboutSection .row h3{
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 22px;
    margin-bottom: 15px;
}

#aboutSection .row p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
}

#aboutSection .row .contactBtn{
    margin-top: 40px;
    margin-bottom: 113px;
}
#aboutSection .row .contactBtn a{
    width: 204px;
    height: 70px;
    background: #5E3BEE;
    color: #fff;
    border-radius: 50px;
    padding: 24px 38px 24px 69px;
}

#aboutSection .row .contactBtn a i{
    margin-right: 9px;
}

/* about section css style end */


/* clients section css style start */

#clients{
    margin: 0 auto;
}

#clients .img img {
    margin-top: 129px;
    margin-bottom: 117px;
}

/* clients section css style end */


/* portfolio section css style start */

#portfolio{

}

#portfolio header p .onE{
    color: #5E3BEE;
    width: 376px;
    height: 26px;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 171px;
}

#portfolio header h4{
    width: 360px;
    height: 56px;
    line-height: 56px;
    font-weight: 600;
    font-size: 44px;
    margin-top: 11px;
    margin-bottom: 51px;
}

#portfolio header p #toW{
    color: rgba(18, 18, 18, 0.7);
    width: 557px;
    height: 58px;
    line-height: 32px;
    font-weight: 550;
    font-size: 16px;
    margin-top: 179px;
    margin-bottom: 68px;
}

#portfolio footer{

}

#portfolio #cardsPortfolio .cards .img img{
    width: 583px;
    height: 389px;

}
/* portfolio section css style end */


/* testimony section css style start */

#testimony {
  margin-top: 132px;
}

.upperPart {
  background: #F9F9FC;
  padding-top: 147px;
  padding-bottom: 157px;
}

#testimony .sectionDesc {
  padding-bottom: 0;
}

.lowerFloatingPart {
  margin-top: -150px;
}

.lowerFloatingPart .row {
  justify-content: center;
  gap: 41px;
}

.reviewCard {
  width: 584px;
  background: white;
  border-radius: 24px;
  padding: 44px 48px 44px 40px;
  box-shadow: 11px 10px 30px 0 #0000001d;
  transition: all 0.3s;
}

.reviewCard:hover {
  box-shadow: 7px 7px 20px 0 #0000002d;
}

.reviewCard .rating {
  color: #EEC01C;
}

.reviewText {
  margin-top: 32px;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.reviewCardBottomFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceDetail {
  display: flex;
  align-items: center;
  gap: 17px;
}

.clientPhoto img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.nameAndService h4{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.nameAndService p {
  color: #00000080;
  line-height: 24px;
  letter-spacing: 0.5px;
}

/* testimony section css style end */


/* working section css style start */

#cta {
  margin-top: 136px;
}

#cta .container {
  position: relative;
}

.ctaContentWrapper {
  background: #F9F9FC;
  border-radius: 24px;
  padding-top: 112px;
  padding-bottom: 126px;
  text-align: center;
}

.floatingCircle {
  position: absolute;
}

.biggest {
  bottom: 0;
  right: 0;
}

.secondBiggest {
  left: 99px;
  bottom: 85px;
}

.bigger {
  top: 54px;
  right: 202px;
}

.smallest {
  top: 59px;
  left: 537px;
}

.ctaContent {
  text-align: center;
}

.ctaContent h2 {
  width: 606px;
  margin: 0 auto;
  padding-bottom: 19px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.5%;
}

.ctaContent .myBtn {
  transition: all 0.3s;
}

.ctaContent .contactMe .myBtn i {
  margin-right: 9px;
}

.contactMe .myBtn:hover {
  background: #4125b0;
}

/* working section css style end */


/* footer section css style start */

#footer {
  margin-top: 132px;
  color: #fff;
}

.footerContent {
  background: #333333;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 112px 143px 44px 151px;
}

.footerLeftTxt {
  width: 369px;
  padding-top: 22px;
  padding-bottom: 68px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.footerTopRightWrapper {
  display: flex;
  justify-content: center;
}

.footerTopRight .email i, .footerTopRight .phone i {
  margin-right: 18px;
}

.footerTopRight .email a {
  color: #fff;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

.footerTopRight .phone {
  margin: 30px 0;
}

.footerTopRight .phone p {
  letter-spacing: 0.5px;
}

.socialLinks i {
  font-size: 40px;
  margin-right: 20px;
}

hr {
  border: 1px solid #404040;
}

.footerBottom {
  margin-top: 48px;
}

.footerBottomLeft .nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #ffffff00;
  transition: all 0.3s;
}

.footerBottomLeft .nav-link:hover {
  border-bottom: 1px solid #fff;
}

.footerBottomRight {
  display: flex;
  justify-content: center;
}

.copyright {
  width: 152px;
  color: #ffffff99;
  letter-spacing: 0.5px;
}

/* footer section css style end */
